In [1]:
# used on categorical variables 
# it replaces a categorical variable/feature with one or more new features that will take the variables of 0 or 1
# increases data burden 
# increases the efficiency of the process as it converts non-numerical values into binary 0-1 values

In [3]:
import pandas as pd 
from IPython.display import display 

data = pd.read_csv('adult.data',header=None, index_col=False, names =['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','gender','capital-gain','capital-loss','hours-per-week','native-country','income'])

In [4]:
data = data [['age','workclass','education','gender','hours-per-week','occupation','income']]
display(data)

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K
...,...,...,...,...,...,...,...
32556,27,Private,Assoc-acdm,Female,38,Tech-support,<=50K
32557,40,Private,HS-grad,Male,40,Machine-op-inspct,>50K
32558,58,Private,HS-grad,Female,40,Adm-clerical,<=50K
32559,22,Private,HS-grad,Male,20,Adm-clerical,<=50K
32560,52,Self-emp-inc,HS-grad,Female,40,Exec-managerial,>50K

In [5]:
print('Original Features:\n',list(data.columns),'\n')
data_dummies = pd.get_dummies(data)

print('Features after One-Hot Encoding:\n',list(data_dummies.columns))

Original Features:
 ['age', 'workclass', 'education', 'gender', 'hours-per-week', 'occupation', 'income']

Features after One-Hot Encoding:
 ['age', 'hours-per-week', 'workclass_ ?', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay', 'education_ 10th', 'education_ 11th', 'education_ 12th', 'education_ 1st-4th', 'education_ 5th-6th', 'education_ 7th-8th', 'education_ 9th', 'education_ Assoc-acdm', 'education_ Assoc-voc', 'education_ Bachelors', 'education_ Doctorate', 'education_ HS-grad', 'education_ Masters', 'education_ Preschool', 'education_ Prof-school', 'education_ Some-college', 'gender_ Female', 'gender_ Male', 'occupation_ ?', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces', 'occupation_ Craft-repair', 'occupation_ Exec-managerial', 'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct', 'occupation_ Other-service', 'occupation_ Priv-house-serv', 'occupation_ Prof-specialty', 'occupation_ Protective-serv', 'occupation_ Sales', 'occupation_ Tech-support', 'occupation_ Transport-moving', 'income_ <=50K', 'income_ >50K']

In [29]:
# lets seperate the features from the labels and train a machine learning algorithm on it 
# convert the data frame bellow into numpy arrays 
features = data_dummies.loc[:,'age':'occupation_ Transport-moving']
X = features.values 
y = data_dummies['income_ >50K'].values

In [30]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split 
X_train, x_test , y_train , y_test = train_test_split(X,y, random_state=0)
logreg=LogisticRegression()
logreg.fit(X_train,y_train)
print('Logistic Regression score on the test set: {:.2f}'.format(logreg.score(x_test,y_test)))

Logistic Regression score on the test set: 0.81
/home/ghassen/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(